<br>
<br>
<br>
<div class="row justify-content-center">
<div class="card text-center col-sm-4" >
    <div class="card-header">
      Sales order Page
    </div>
    <div class="card-body">
      <h5 class="card-title">Enter Details</h5>
      <form>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-5">
            <input type="text"  class="form-control" id="name" placeholder="Name">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="phone" class="col-sm-3 col-form-label">Phone Number</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="phone" placeholder="Phone number">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="quantity" placeholder="quantity">
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
    </div>
   
  </div>
</div>