<br>
<br>
<br>
<div class="row justify-content-center">
<div class="card text-center col-sm-7" >
    <div class="card-header">
      Invoice Page
    </div>
    <div class="card-body">
      <h5 class="card-title">Get API service </h5>
      <table class="table table-hover">
        <thead>
          <tr>
           
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">phone</th>
            <th scope="col">Quantity</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of peoples;">
            <th scope="row">{{p.id}}</th>
            <td>{{p.name}}</td>
            <td>{{p.phone}}</td>
            <td>{{p.quantity}}</td>
            
          </tr>
          
        </tbody>
      </table>

    </div>
   
  </div>
</div>