
<div class="row justify-content-center">
<div class="card text-center col-sm-8" >
    <div class="card-header">
      Invoice Page  (List of Persons)
    </div>
    <div class="card-body">
      <h5 class="card-title">Get API service </h5>
      <table class="table table-hover">
        <thead>
          <tr>
           
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Phone No</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of peoples;">
            <th scope="row">{{p.id}}</th>
            <td>{{p.name}}</td>
            <td>{{p.phone}}</td>
            <td>{{p.quantity}}</td>
            <td>
        
              <!--<i (click)="deletePerson(p.id)" class="fa fa-trash"></i>
                &nbsp;
                <a routerLink="/_customer/edit/{{p.id}}"><i class="fa fa-edit"></i></a> </td>>
              -->
              <button (click)="deletePerson(p.id)" class="btn btn-sm btn-outline-danger fa fa-trash"> </button>
              &nbsp;
              <button routerLink="/_customer/edit/{{p.id}}" class="btn btn-sm btn-outline-primary fa fa-edit"></button> 
          </tr>
          
        </tbody>
      </table>

    </div>
   
  </div>
</div>